branches/Modeller_gwt_Branch/config/panel-2.0-M6.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openremote.org" targetNamespace="http://www.openremote.org">
    <xsd:annotation>
		<xsd:documentation><![CDATA[
			OpenRemote Panel XML Schema, version 1.0.
			Authors:Dan Cong.
						
			This defines the button layout on panel.
			Native application can redraw the layout by them.
		]]></xsd:documentation>
	</xsd:annotation>
	<!-- Top-level <openremote> tag -->
	<xsd:element name="openremote">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
	The top level (typically root) element. Allows the definition
	of the different components such as panel, screen, group,.
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="panels" maxOccurs="unbounded" minOccurs="0"/>
				<xsd:element ref="screens" maxOccurs="unbounded" minOccurs="0"/>
				<xsd:element ref="groups" maxOccurs="unbounded" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="screen">
	<xsd:annotation>
		<xsd:documentation><![CDATA[
				The screen is a page when you slide the Panel.
			]]></xsd:documentation>
	</xsd:annotation>
	<xsd:complexType>
		<xsd:sequence>
			<xsd:group ref="screenGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="id" type="idType" use="required" />
	</xsd:complexType>
</xsd:element>

	<xsd:element name="background">
	<xsd:annotation>
		<xsd:documentation><![CDATA[
				Background for a screen. 
				sub element image represent the image for this screen. 
				attribute fillScreen: whether the background will be filled with a background, as a default it is true.
				attribute absolute: represent the absloute position with a string cosisting with two part: LEFT and TOP. eg absolute="100,50".
				attribute relative: represent the relative position with a stirng. Its value should be same as css relative type. eg relative="top left" 
			]]></xsd:documentation>
	</xsd:annotation>
	<xsd:complexType>
	   <xsd:sequence>
            <xsd:element ref="image" minOccurs="1" maxOccurs="1" />
         </xsd:sequence>
		<xsd:attribute name="fillScreen" type="xsd:boolean" use="optional" />
		<xsd:attribute name="absolute" type="xsd:string" use="optional"/>
		<xsd:attribute name="relative" type="xsd:string" use="optional"/>
	</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="property">
	<xsd:annotation>
		<xsd:documentation><![CDATA[
				represent the property for a element. 
				attribute name: The name of the property. 
				attribute value: The value of the property. 
			]]></xsd:documentation>
	</xsd:annotation>
	<xsd:complexType>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="value" type="xsd:string" use="required" />
	</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="default">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				The default state for a component. 		
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="image" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="pressed">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				The pressed state for a component. 		
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="image" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="button">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				The button on panel.Its label is the name shown on the button.
				Its position is defined by coordinates (x, y).
				Its size is defined by width and height.The meature is one cell on the panel.
				attribute repeat: whether the button send command on and on when it is pressed down. 	
				attribute hasControlCommand: whether the button has bound a command. 			
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="buttonGroup" minOccurs="0" maxOccurs="unbounded"></xsd:group>
			</xsd:sequence>
			<xsd:attribute name="id" type="idType" use="required" />
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="repeat" type="xsd:boolean" use="optional"/>
			<xsd:attribute name="hasControlCommand" type="xsd:boolean" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="panel">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				The panel represent a panel for a device.
				sub element tabbar: A tabbar for a panel. 
				sub element include: Something belongs to a panel, eg: <include type="group" ref="12"/> 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tabbar" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="include" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required" />
			<xsd:attribute name="name" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="panels">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A panel collection. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="panel" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="toLogcialType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="setting" />
			<xsd:enumeration value="back" />
			<xsd:enumeration value="login" />
			<xsd:enumeration value="logout" />
			<xsd:enumeration value="nextscreen" />
			<xsd:enumeration value="previousscreen" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				The unique identifier type. 				
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="groups">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A group List. 			
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	<xsd:element name="group">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A group of some screens. you can put some special screens into the same group for your special purpose.
				sub element tabbar: A tabbar for a group. 
				sub element include: Something belongs to a group, eg: <include type="screen" ref="30"/>  
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tabbar" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="id" type="idType"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="screens">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A screen list. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="screen" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
	<xsd:element name="portrait">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="screenGroup" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="landscape">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="screenGroup" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	 -->
	 <xsd:element name="link">
	 	<xsd:annotation>
			<xsd:documentation><![CDATA[
				A Element used to link a component with another component.eg:
				<link type="sensor" ref="5">
					<state name="on" value="on"/>
					<state name="off" value="off"/>
				</link>
			]]></xsd:documentation>
		</xsd:annotation> 
	 	<xsd:complexType>
	 		<xsd:sequence>
	 			<xsd:element ref="state" minOccurs="0" maxOccurs="unbounded"/>
	 		</xsd:sequence>
	 		<xsd:attribute name="type" type="xsd:string" use="required" />
	 		<xsd:attribute name="ref" type="xsd:int" use="required" />
	 	</xsd:complexType>
	 </xsd:element>
	<xsd:element name="image">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A image. 
				attribute src: the url for the image. 
				attribute state: the state for the image. 
				attribute style: the css-like style for the image.  
			]]></xsd:documentation>
		</xsd:annotation> 
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="link" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="include" minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:int"/>
			<xsd:attribute name="src" type="xsd:string" use="required"/>
			<xsd:attribute name="style" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="navigate">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A navigator for panel or group. 
				attribute toGroup: the group you want to go to. 
				attribute toScreen: the screen you want to go to. ATTENTION: if the navigate has this attribute, the toGroup attribute is necessary. 
				attribute to: you can only choose from "setting, back, login, logout, nextScreen, previousScreen". eg: <navigate to="back"/> 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attributeGroup ref="toLogicalGroup"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="absolute">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				represent the absolute position for a widget. 
				attribute left: the left coordinate. 
				attribute right: the right coordinate. 
				attribute width: the width for the widget. 
				attribute height: the height for the widget.
				Attention: These attributes are all integer value , They mean how many pixels are these attributes. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:group ref="componentGroup"/>
			<xsd:attribute name="left" type="xsd:int" use="required"/>
			<xsd:attribute name="top" type="xsd:int" use="required"/>
			<xsd:attribute name="width" type="xsd:int" use="required"/>
			<xsd:attribute name="height" type="xsd:int" use="required"/>
		</xsd:complexType>
	</xsd:element>
	

	<xsd:element name="gesture">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A gesture control for your panel. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="navigate" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="type" type="xsd:string" use="required"/>
			<xsd:attribute name="id" type="idType" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="label">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				a component to display some information. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="link" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="idType" use="required"/>
			<xsd:attribute name="font-size" type="xsd:int" use="optional"/>
			<xsd:attribute name="color" type="xsd:string" use="optional"/>
			<xsd:attribute name="text" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="min">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				The  minimum value for a slider. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="value" type="xsd:int" use="required" />
			<xsd:attribute name="image" type="xsd:string" use="optional"/>
			<xsd:attribute name="trackImage" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="max">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				The  maximum value for a slider. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="value" type="xsd:int" use="required" />
			<xsd:attribute name="image" type="xsd:string" use="optional"/>
			<xsd:attribute name="trackImage" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="slider">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A slider component. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="sliderGroup" minOccurs="2" maxOccurs="3"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="idType" use="required"/>
			<xsd:attribute name="thumbImage" type="xsd:string" use="optional"/>
			<xsd:attribute name="vertical" type="xsd:boolean" use="optional" default="false"/>
			<xsd:attribute name="passive" type="xsd:boolean" use="optional" default="false"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="state">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				The state for a component. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="tabbar">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				tabbar for navigating or other functions.  
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="item" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="item">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				item for tabbar.  
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="image" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="navigate" minOccurs="0" maxOccurs="1"/>
			</xsd:all>
			<xsd:attribute name="name" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="switch">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				a switch widget. 
				sub element image : image for switch on and switch off. often it has two images if it does has. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="link" minOccurs="0" maxOccurs="2"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="idType" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="grid">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A component to store some widgets as its cells. 
				element cell: every widget in the grid should be in the cell.
				attribute left: The left coordinate on the screen canvas. 
				attribute top: The top coordinate on the screen canvas. 
				attribute width: The width for the grid. 
				attribute height: The height for the grid. 
				attribute rows: The count of the rows. 
				attribute cols: The count of the columns. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cell" maxOccurs="unbounded" minOccurs="0"></xsd:element>
			</xsd:sequence>
			<xsd:attribute name="left" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="top" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="rows" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="cols" type="xsd:int"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="cell">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A cell in the grid. 
				attribute x: The row index in the grid of this cell.
				attribute y: The column index in the grid of this cell.
				attribute rowspan: The row span for the cell in a grid. 
				attribute colspan: The column span for the cell in a grid. 
				
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="componentGroup" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="x" type="xsd:int" use="required"/>
			<xsd:attribute name="y" type="xsd:int" use="required"/>
			<xsd:attribute name="rowspan" type="xsd:int"	use="optional"/>			
			<xsd:attribute name="colspan" type="xsd:int"	use="optional"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="include">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				A generic include  direct for including some element. 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="ref" type="xsd:int"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:group name="componentGroup">
		<xsd:choice>
			<xsd:element ref="button"/>
			<xsd:element ref="label"/>
			<xsd:element ref="switch"/>
			<xsd:element ref="image"/>
			<xsd:element ref="slider"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="screenGroup">
		<xsd:choice>
			<xsd:element ref="gesture" />
			<xsd:element ref="absolute" />
			<xsd:element ref="grid"></xsd:element>
			<xsd:element ref="background"/>
		</xsd:choice>
	</xsd:group>
	

	<xsd:group name="buttonGroup">
		<xsd:choice>
			<xsd:element ref="default"/>
			<xsd:element ref="pressed"/>
			<xsd:element ref="navigate"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="sliderGroup">
		<xsd:choice>
			<xsd:element ref="link" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="min" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="max" minOccurs="1" maxOccurs="1"/>
		</xsd:choice>
	</xsd:group>
	<xsd:attributeGroup name="toLogicalGroup">
		<xsd:attribute name="toGroup" use="optional" />
		<xsd:attribute name="toScreen" use="optional" />
		<xsd:attribute name="to" type="toLogcialType" use="optional"/>
	</xsd:attributeGroup>
</xsd:schema>
